{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="well">
    <h2>Welcome {{ name }}!</h2>
    
</div>
{%include "messages.html" with messages=messages %}
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                {% if archived != True %}
                <h3 class="panel-title">Infraction Reports ({{currInfra | length}})</h3>
                {% else %}
                <h3 class="panel-title">Archived Infraction Reports ({{currInfra | length}})</h3>
                {% endif %}
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for infraction in currInfra %}

                    {% include "admin/infractionListing.html" with infraction=infraction%}

                    {% endfor %}
                </ul>
                {% if archived != True %}
                <a href="/admin/infraction/archived/" class="btn btn-primary"><i class="fa fa-search"></i> View archived reports</a>
                {% else %}
                <a href="/dash/" class="btn btn-primary"><i class="fa fa-search"></i> View current reports</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">All members ({{allUsers | length}})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                {% for user in allUsers %}
                {% include "users/listing.html" with user=user%}
                {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>

{% endblock %}