{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="well">
    <a href="/admin/infraction/{{ lastInfraction }}/"  class="btn btn-primary pull-left"><i class="fa fa-chevron-circle-left"></i> Next Infraction</a>
    <a href="/admin/infraction/{{ nextInfraction }}/"  class="btn btn-primary pull-right"><i class="fa fa-chevron-circle-right"></i> Next Infraction</a>
    <h2 class="center-inline" style="margin: 0 15px;">Infraction #{{ currInfraction.id }} {% if currInfraction.dealtWith == False %}(Archived){% endif %}</h2>


</div>
{%include "messages.html" with messages=messages %}
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Current Report</h3>

            </div>
            <div class="panel-body">
                <ul class="list-group">
                


                    <li class="list-group-item tool-listing clearfix">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="list-group-item-text"><strong>Against: <b><a href="/users/{{currInfraction.userAtFault.username}}/" title="Visit this user's profile page">{{ currInfraction.userAtFault.username }}</a></b><br>
                                    Submitted by: <b><a href="/users/{{ currInfraction.userWronged.username }}/" title="Visit this user's profile page">{{ currInfraction.userWronged.username }}</a></b></strong><br>
                                    <div class="list-group-item-text"><strong>Date: {{ currInfraction.date }}</strong></div>

                                    <div class="list-group-item-text"><b>Description:</b> {{ currInfraction.description }}</div>

                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
                {% if currInfraction.dealtWith != True %}
                <a href="/admin/infraction/{{ currInfraction.id }}/archive/" class="btn btn-default"><i class="fa fa-trash"></i> Archive report</a>
                {% else %}
                <a href="/admin/infraction/{{ currInfraction.id }}/restore/" class="btn btn-success"><i class="fa fa-check"></i> Restore report</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Members Involved</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                {% for user in allUsersInvolved %}
                {% include "users/listing.html" with user=user%}
                {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>

{% endblock %}