{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="container">
    <h2>About ToolShare</h2>
    <p class="lead">ToolShare is an online community for people to borrow and lend tools from one another in your area</p>
    <h2>The Team</h2>
    <p class="lead">
        <ul>
            <li>Joseph Gambino - Team Leader</li>
            <li>Ben Grawi - Development Coordinator</li>
            <li>Tyler Krupicka - Test Coordinator / Q&amp;A</li>
            <li>Jeremiah Zucker - Requirements Coordinator</li>
        </ul>
    </p>
</div>
{% endblock %}