<li class="list-group-item tool-listing clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="list-group-item-heading"><a href="/tools/{{tool.id}}">{{tool.name}}</a></h4>
            <p class="list-group-item-text">
                <strong>Type:</strong> {{tool.toolType}}<br>
                <strong>Brand:</strong> {{tool.brand}}<br>
                <strong>Condition:</strong> {{tool.condition}}<br>
                {% if tool.status == 'In use' %}
                    <div class="list-group-item-text"><strong>Borrowed until: {{tool.rented_date}}</strong></div>
                {% else %}
                    <div class="list-group-item-text"><strong>Borrow for:</strong> {{tool.return_days}} day{% if tool.return_days != 1 %}s{% endif %}</div>
                {% endif %}
                {% if tool.owner.id != request.user.id %}
                <a href="/users/{{ tool.owner.username }}/" title="Visit {{ tool.owner.get_full_name }}'s profile page"><b>{{tool.owner.get_full_name}}</b></a>
                {% else %}
                <a href="/users/{{ request.user.username }}/" title="Visit your profile page."><b>Yours</b></a>
                {% endif %}
            </p>
        </div>
        <div class="col-sm-6 center-inline clearfix tool-actions">
            {% if tool.owner.id != request.user.id and tool.borrower.id != request.user.id and tool.status != "Available"%}
            <p class="center-inline">This tool is currently being borrowed</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                <button type="button" class="btn btn-default" disabled="disabled"><i class="fa fa-times-circle"></i> Not Available</button>
            </form>
            {% endif %}
            {% if tool.status == 'Available' %}
            {% if tool.owner.id != request.user.id %}
            <p class="center-inline">This tool is available</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="request">
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Request Tool</button>
            </form>
            {% else %}
            <p class="center-inline">Your tool is available</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i> Delete Tool</button>
            </form>
            {% endif %}
            {% elif tool.status == 'Requested' %}
            {% if tool.owner.id == request.user.id %}
            <p class="center-inline"><a href="/users/{{ tool.borrower.username }}/">{{tool.borrower.get_full_name}}</a> requested this tool</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="approve">
                <button type="submit" class="btn btn-success"><i class="fa fa-thumbs-up"></i> Approve</button>
            </form>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="reject">
                <button type="submit" class="btn btn-danger"><i class="fa fa-thumbs-down"></i> Reject</button>
            </form>
            {% elif tool.borrower.id == request.user.id%}
            <p class="center-inline">Waiting for approval...</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="cancel">
                <button type="submit" class="btn btn-warning"><i class="fa fa-times-circle"></i> Cancel Request</button>
            </form>
            {% endif %}
            {% elif tool.status == 'In use' %}
            {% if tool.owner.id == request.user.id %}
            <p class="center-inline"><a href="/users/{{ tool.borrower.username }}/">{{tool.borrower.get_full_name}}</a> is using your tool</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                <button type="button" class="btn btn-success" disabled="disabled"><i class="fa fa-wrench"></i> In use</button>
            </form>
            {% elif tool.borrower.id == request.user.id%}
            <p class="center-inline"><a href="/users/{{ tool.owner.username }}/">{{tool.owner.get_full_name}}</a> approved your request</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="return">
                <button type="submit" class="btn btn-success"><i class="fa fa-reply"></i> Return Tool</button>
            </form>
            {% endif %}
            {% elif tool.status == 'Returned' %}
            {% if tool.owner.id == request.user.id %}
            <p class="center-inline"><a href="/users/{{ tool.borrower.username }}/">{{tool.borrower.get_full_name}}</a> returned this tool</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="available">
                <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Confirm Returned</button>
            </form>
            {% elif tool.borrower.id == request.user.id%}
            <p class="center-inline">You returned the tool</p>
            <form class="tool-action" action="/tools/{{ tool.id }}/update" method="POST">
                {% csrf_token %}
                <button type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-clock-o"></i> Waiting for confirmation</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</li>