{% extends "layout.html" %}
{% block title %}Defiantly{% endblock %}
{% block body %}
	<div class="jumbotron">
      <div class="container">
        <h1>We're Defiantly Online!</h1>
        <h3><b>{{tweetNum}}</b> saved misuses and counting.</h3>
        <p>This website uses machine learning to display the (pretty widespread) misuse of the word "defiantly" on twitter. Recents shows the most recent tweets, while top shows people with the most followers. Tweets are polled when this site is loaded. If your interested in how it works, here's a writeup.</p>
        <p><a class="btn btn-primary btn-md" href="http://tylerkrupicka.com/blog/Defiant-Lee-A-Naive-Bayes-Twitter-Bot.html" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
	    <div class="col-md-6">
	    	<h2>Recents</h2>
			<span style="marigin-left:auto;marigin-right:auto;padding-bottom:0px;">            
		    {% for tweet in tweets %}
			<blockquote class="twitter-tweet" lang="en"><p>{{tweet.text}}</p>&mdash;
	 		Defiant Lee (@DefiantLee_) <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">
			October 14, 2014</a>
			</blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		    {% endfor %}
		    </span>
		</div>

	    <div class="col-md-6">
	    	<h2>Top</h2>
			<span style="marigin-left:auto;marigin-right:auto;padding-top:0px;">            
		    {% for tweet in badTweets %}
			<blockquote class="twitter-tweet" lang="en"><p>{{tweet.tweetText}}</p>&mdash;
	 		Defiant Lee (@DefiantLee_) <a href="https://twitter.com/{{tweet.user}}/status/{{tweet.tweetId}}">
			October 14, 2014</a>
			</blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		    {% endfor %}
		    </span>
		</div>
	</div>

{% endblock %}
