{% extends "layout.html" %}
{% block title %}Defiantly{% endblock %}
{% block body %}
	<div class="jumbotron">
      <div class="container">
	<br />
        <h1>We're Defiantly Online!</h1>
        <h3><b>{{tweetNum}}</b> saved misuses and counting.</h3>
        <p>This website uses machine learning to display the (pretty widespread) misuse of the word "defiantly" on twitter. "Recents" shows the most recent tweets, while "top" shows people with the most followers. Tweets are polled when this site is loaded. If you are interested in how it works, here's some links: <a href="https://twitter.com/DefiantLee_/with_replies">@DefiantLee_</a> <a href="http://tylerkrupicka.com/blog/Defiant-Lee-A-Naive-Bayes-Twitter-Bot.html">Classifier</a>.</p>
        <p><a class="btn btn-primary btn-md" href="http://tylerkrupicka.com/blog/defiantly.me.html" role="button">Official Writeup &raquo;</a></p>
      </div>
    </div>

    <div class="container">
	    <div class="col-md-6">
	    	<h2>Recent {{recentsN}}</h2>
			<span style="marigin-left:auto;marigin-right:auto;padding-bottom:0px;">            
		    {% for tweet in tweets %}
			<blockquote class="twitter-tweet" lang="en"><p>{{tweet.text}}</p>&mdash;
	 		{{tweet.user.screen_name}} <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">This tweet has been removed.</a>
			</blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		    {% endfor %}
		    </span>
		</div>

	    <div class="col-md-6">
	    	<h2>Top 20</h2>
			<span style="marigin-left:auto;marigin-right:auto;padding-top:0px;">            
		    {% for tweet in badTweets %}
			<blockquote class="twitter-tweet" lang="en"><p>{{tweet.tweetText}}</p>&mdash;
	 		{{tweet.user}} <a href="https://twitter.com/{{tweet.user}}/status/{{tweet.tweetId}}">This tweet has been removed.</a>
			</blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		    {% endfor %}
		    </span>
		</div>
	</div>

{% endblock %}
