{% extends "layout.html" %}
{% block title %}Defiantly{% endblock %}
{% block body %}

    <h2>Recents</h2>
    <p class="lead">
		<span style="marigin-left:auto;marigin-right:auto;">            
	    {% for tweet in tweets %}
		<blockquote class="twitter-tweet" lang="en"><p>{{tweet.text}}</p>&mdash;
 		Defiant Lee (@DefiantLee_) <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">
		October 14, 2014</a>
		</blockquote>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	    {% endfor %}
	    </span>
	</p>

{% endblock %}
