{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="well">
    <h2>Welcome {{ user.get_full_name }}!</h2>
    
</div>
{%include "messages.html" with messages=messages %}
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">My Tools ({{myTools | length}})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for tool in myTools %}
                    {% include "tools/listing.html" with tool=tool%}
                    {% endfor %}
                </ul>
                <a href="/tools/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a tool</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Tools I'm Borrowing ({{myBorrowing | length}})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                {% for tool in myBorrowing %}
                {% include "tools/listing.html" with tool=tool%}
                {% endfor %}
                </ul>
                <a href="/tools/search" class="btn btn-primary"><i class="fa fa-search"></i> Find a tool</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}