
<li class="list-group-item tool-listing clearfix">
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group-item-heading"><strong><a href="/users/{{ user.username }}" title="Visit this user's page">{{user.get_full_name}}</a></strong></div>
            <div class="list-group-item-text"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
            <p class="list-group-item-text">{{ user.username }}<br></p>
            <p class="list-group-item-text">Zip: {{ user.zipcode }}</p>
        </div>
        <div class="col-sm-6 center-inline clearfix tool-actions">
        {% if user.can_delete and user.is_active == True %}
            <p class="center-inline">Disable user?</p>

            <a href="/admin/users/{{ user.username }}/disable/" class="btn btn-danger"><i class="fa fa-times"></i> Disable</a>

        {% elif user.is_active == False %}
            <p class="center-inline">Enable user?</p>

            <a href="/admin/users/{{ user.username }}/enable/" class="btn btn-success"><i class="fa fa-check"></i> Enable</a>

        {% else %}
            <p class="center-inline">User is currently either lending or borrowing.</p>

            <button disabled="disabled" class="btn btn-default"><i class="fa fa-default"></i> Can't Disable</button>

        {% endif %}
        </div>
    </div>
</li>
