{% extends "layout.html" %}
{% block title %}User Profile{% endblock %}
{% block body %}
<div class="well">
    {% if request.user.username != username %}
        <div class="pull-right">
            <br>
            {% if request.user.is_superuser and user.is_active and user.can_delete %}
                <a class="btn btn-danger" href="/admin/users/{{ user.username }}/disable/" title="Disable user"><i class="fa fa-times"></i> Disable User</a>
            {% elif request.user.is_superuser and user.is_active == False %}
                <a class="btn btn-success" href="/admin/users/{{ user.username }}/enable/" title="Enable user"><i class="fa fa-check"></i> Enable User</a>
            {% elif request.user.is_superuser and user.can_delete == False %}
                <button disabled="disabled" class="btn btn-default" title="User is currently either lending or borrowning"><i class="fa fa-default"></i> Can't Disable</button>
            {% endif %}
            {% if currUser.can_view %}
                <a class="btn btn-default" href="mailto:{{user.email}}" title="Email this user"> <i class="fa fa-envelope"></i> Email User</a>
            {% endif %}
            <a class="btn btn-danger" href="/users/{{ username }}/report/"><i class="fa fa-flag"></i> Report User</a>
        </div>
    {% endif %}
    <h2>{{ name }}</h2>
</div>
{%include "messages.html" with messages=messages %}
<div class="row">

    <div class="col-md-6">
        <div class="panel panel-primary">
                {% if request.user.id == id %}
            <div class="panel-heading">
                <h3 class="panel-title">Edit your information</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                {% include "users/edit.html" %}
                </ul>
            </div>
                {% else %}
            <div class="panel-heading">
                <h3 class="panel-title">Contact Information</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Username: {{ user.username }}</li>
                    {% if user.bio != '' and user.bio != None %}
                        <li class="list-group-item">Bio: {{ user.bio }}</li>
                    {% endif %}
                    <li class="list-group-item">
                    {% if currUser.can_view and user.address != '' and user.address != None %}
                        Address: {{ user.address }}
                    {% else %}
                        Zipcode: {{ user.zipcode }}
                    {% endif %}
                    </li>
                    {% if currUser.can_view %}
                    <li class="list-group-item">
                        Email: <a href="mailto:{{ user.email }}" title="Email {{ user.email }}"><strong>{{ user.email }}</strong></a>
                    </li>
                    {% endif %}
                    {% if currUser.can_view and user.phoneNumber != '' and user.phoneNumber != None %}
                        <li class="list-group-item">Phone: {{ user.phoneNumber }}</li>
                    {% endif %}
                    {% if not currUser.can_view %}
                    <li class="list-group-item list-group-item-info"><i class="fa fa-info-circle"></i> Email and street address are hidden until you lend to or borrow from {{ user.get_full_name }}.</li>
                    {% endif %}
                </ul>
            </div>
                {% endif %}
            </div>
        </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ name }}'s Tools ({{userTools | length}})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for tool in userTools %}
                    {% include "tools/listing.html" with tool=tool%}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}