{% extends "layout.html" %}
{% block title %}Add a Tool{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="well clearfix">
                <h2 class="center-inline">Submit a report against {{ name }}.</h2><br>
                    <h3>Infraction Report Guidelines</h3>
                    <h5>Reminder: All reports will be taken seriously.</h5>
                    <p class="lead">
                    <ul>
                        <li>The report should explain who, what, where, and when.</li>
                        <li>The report should not have any unnecessary details, but only what is relevant.</li>
                        <li>The report should be kept brief and serious in nature.</li>
                        <li>The report should be written with proper grammar.</li>
                    </ul>
                    </p>

                {%include "messages.html" with messages=messages %}<br>
                <form class="form-center-inline" method="POST" action=""> {% csrf_token %}
                    {% include "form-fields.html" with form=form %}
                    <button type="submit" class="btn btn-primary pull-right">Submit Report</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

